.nav{
    margin-left: auto;
    margin-right: auto;
    display:flex;
    Justify-content:space-between;
    width: 40%;
    
}
.header{
    background: #1089FF;
    width: 100%;
}
.about,.home,.help,.works{
    width: 100%;
    height: 50px;
    text-align: center;
    cursor: pointer;
    padding-top: 13px
}
.works:hover{
    background: #0076B8;
}
.about:hover{
    background: #0076B8;
}
.home:hover{
    background: #0076B8;
}
.help:hover{
    background: #0076B8;
}
.links{
    text-decoration: none;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-size: 22px;
    cursor: pointer;
}